form{
    width: 30%;
    margin: auto;
}
.form-control{
    position: relative;
    margin: auto;
    height: 50px;
    width: 45rem;
}
.form-group {
    margin-bottom: 15px;
    text-align: center;
}
.signin{
    color: white;
    text-align: center;
}
.btn{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 45rem;
}