{% include 'templates/header.html' %}


<div class="container" ng-controller="loginUser">
    {{message}}
    <div class="form-group">
        <label for="exampleInputEmail1">Identifiant</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Entrer votre email ou speudo"
            ng-model="username" my-enter="loginUser()">
    </div>
    <div class="form-group">
        <label for="pass">Mot de passe</label>
        <input type="password" class="form-control" id="pass" name="password" placeholder="Entrer votre mot de passe" ng-model="password"
            my-enter="loginUser()">
    </div>
    <!-- <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Se souvenir de moi
            </label>
        </div> -->
    <div class="signin">
        <a href="/signup" class="signin"> Pas encore inscrit?</a>
    </div>
    <button type="submit" class="btn btn-success" ng-click="loginUser()">Connexion</button>
    <!-- <p class="erreurMessage">Utilisateur inexistant/mot de passe incorrecte</p> -->
</div>

{% include 'templates/footer.html' %}