{% include 'templates/header.html' %}


<div id="wrapper">
    {% include 'templates/nav.html' %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <!-- Content -->
        <div style="    display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;">
            <canvas id="c">
            </canvas>
            <div ng-controller='profil' style="        width: auto;">
                <div class="welcome-profil">
                    <h1 class="message-profil">{{ message }}</h1>
                </div>
                <div class="profil">
                    <div>
                        <img class="img-profil" src="{{ image }}" alt="image">
                    </div>
                    <div class="infoProfil">
                        <div>
                            <h3>Addresse mail</h3>
                            <h4>{{ mail }}</h4>
                        </div>
                        <div>
                            <h3>Pseudo</h3>
                            <h4>{{ username }}</h4>
                        </div>
                    </div>
                </div>
                <!-- <div style="    position: relative;
                top: 18rem;">
                    <form ref='uploadForm' id='uploadForm' action='http://localhost:3000/upload' method='post' encType="multipart/form-data">
                        <input type="file" name="sampleFile" />
                        <input type='submit' value='Upload!' />
                    </form>
                </div> -->
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    {% include 'templates/footer.html' %}