{% include 'templates/header.html' %}

<div ng-controller="signup">
    <div class="form-group">
        <label for="mail">Address email</label>
        <input type="text" class="form-control" name="mail" id="mail" placeholder="Entrer votre email" ng-model="mail">
    </div>
    <div class="form-group">
        <label for="speudo">Speudo</label>
        <input type="text" class="form-control" name="speudo" id="speudo" placeholder="Entrer votre speudo" ng-model="username">
    </div>
    <div class="form-group">
        <label for="pass">Mot de passe</label>
        <input type="password" class="form-control" name="pass" id="pass" placeholder="Entrer votre mot de passe" ng-model="password">
    </div>
    <div class="form-group">
        <label for="pass-verif">vérification mot de passe</label>
        <input type="password" class="form-control" id="pass-verif" name="pass-verif" placeholder="Retaper votre Mot de passe" ng-model="passwordTest"> {[{ message }]}
    </div>
    <button type="submit" class="btn btn-success" ng-click="signup()">Inscription</button>

</div>

{% include 'templates/footer.html' %}